---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
image2: https://source.unsplash.com/1XVpwAHlSNs/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image2 %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="pink editable">You've Scored</h1>
			<p class="subtext editable">Football @ Speedball</p>
			<!--<div class="cta button alt"><a href="#">Join Now</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Kick Off With Us</h2>
				<p class="editable">Are you looking for the best possible indoor astroturf pitches in Bradford? Then you may have found them at Speedball. We offer the very latest technology in artificial turf, providing you and your team mates with the the closest thing to real grass, all year round. 
Come rain or shine, even ice and snow. Our pitches will always be in top order and ready to play on.
</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">4G Astroturf Like No Other</h2>
				<p class="editable">Fourth generation artificial turf is at the cutting edge of all-weather pitches. Iit is often found with either sand or rubber infill, providing that fantastic real grass feel. It can cater to a number of sports, however our pitches are focussed more towards football. We feel that our 4G pitches are the best in Bradford and we welcome you to come and try them for yourselves.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Inspiring You to Succeed</h2>
				<p class="editable">We are here to help you tone, strengthen, burn and energise your soul until you are happy with your body and have reached your fitness goals. Then, if you like, we can set you some more! Our aim is to inspire and motivate you with our fitness knowledge and exercise expertise by not only to helping you workout, but by also advising you on your diet and nutrition as well.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
