---
title: Gallery
description: A Picture Tells a Thousand Words. Scroll down to check out photos and videos of the awesome facilities availalable at Speedball
image: https://source.unsplash.com/BcoGknSqlDc/2000x1322?a=.png
image2: https://source.unsplash.com/1XVpwAHlSNs/2000x1322?a=.png
image3: /images/pexels-photo-102448.jpeg
---

<section class="hero contrast-half" style="background-image: url({% include relative-src.html src=page.image3 %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="pink editable">A Picture Tells a Thousand Words</h1>
			<p class="subtext editable">Scroll down to check out photos of the awesome facilities availalable at Speedball</p></p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
<section class="hero" style="background-image: url({% include relative-src.html src=page.image2 %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<!--<h2 class="editable"></h2>-->
			<!--<p class="subtext editable"></p>-->
			<!--<div class="cta button alt"><a href="#"></a></div>-->
		</div>
	</div>
</section>