---
title: Gym
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
image2: https://source.unsplash.com/1XVpwAHlSNs/2000x1322?a=.png
image3: /images/pexels-photo-209968.jpeg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image3 %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="white editable">Fitness Goals?</h1>
			<p class="black subtext editable">Work out with us @ Speedball</p>
			<!--<div class="cta button alt"><a href="#">Join Now</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Here To Help You Achieve Your Goals</h2>
				<p class="editable">To achieve your health and fitness goals in a friendly and relaxed atmosphere, come down to Speedball Fitness Centre. If you'd feel better in a female only environment, you've come to the right place. If you require further information, feel free to get in touch.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Let's Get There Together</h2>
				<p class="editable">Speedball is more than just a gym. We enjoy helping each and every member in achieving their fitness and weight loss goals by customising fitness programmes and supporting them in getting to grips with everything the centre has to offer. We want you to achieve your fitness goals so let us help you get there.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

    <section class="info">
		<div class="container">
			<div class="text">
				<h2 class="editable" align="center">Excellent Facilities, Excellent Prices</h2>
				<p class="editable">Booking is simple, just call us on 01274 578948 to check availability and book one off or as weekly blocks.</br>
				    Mon - Fri | £30</br>
Mon - Fri | 18:00 - 23:00 | Courts 1 & 2 | £45</br>
Mon - Fri | 23:00 - 00:00 | Any Court | £30</br>
Mon - Fri | 18:00 - 23:00 | Courts 3 | £40</br>
Saturday | Any Time | Any Court | £30</br>
Sunday | Any Time | Any Court | £40</p>
			</div>
			<div class="image">
				<!--<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />-->
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Opening Times</h2>
				<p class="editable">We have seperate opening times for men and women. Please click here to see opening times.</p>
			</div>
			<div class="image">
				<!--<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />-->
			</div>
		</div>
	</section>

	<section class="hero-footer" style="background-image: url({% include relative-src.html src=page.image2 %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<!--<h2 class="editable"></h2>-->
				<!--<p class="subtext editable"></p>-->
				<!--<div class="cta button alt"><a href="#"></a></div>-->
			</div>
		</div>
	</section>
</div>
