---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
image2: https://source.unsplash.com/1XVpwAHlSNs/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image2 %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="pink editable">Welcome to Speedball</h1>
			<p class="subtext editable">Look Good | Feel great</p>
			<!--<div class="cta button alt"><a href="#">Join Now</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Let's Work Together</h2>
				<p class="editable">Speedball Health Club is a family run Bradford business with you in mind. Open until 12am, 7 days a week, we make sure our times suit you and your needs. We will work with you to help you achieve your fitness goals through every stretch, pull, lift, jog and step of the way. We pledge to share our fitness expertise and dedicate our efforts to help you succeed.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Take Control of Your Fitness</h2>
				<p class="editable">Here at Speedball you never have to get stuck in an old routine. We offer a variety of classes and clubs for you to get involved with. We encourage all our members to take part in as many fitness classes as possible. There is something here for everyone, any age, any level of fitness.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Inspiring You to Succeed</h2>
				<p class="editable">We are here to help you tone, strengthen, burn and energise your soul until you are happy with your body and have reached your fitness goals. Then, if you like, we can set you some more! Our aim is to inspire and motivate you with our fitness knowledge and exercise expertise by not only to helping you workout, but by also advising you on your diet and nutrition as well.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.image2 %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<!--<h2 class="editable"></h2>-->
				<!--<p class="subtext editable"></p>-->
				<!--<div class="cta button alt"><a href="#"></a></div>-->
			</div>
		</div>
	</section>
</div>
