---
title: Opening Times
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
image2: https://source.unsplash.com/1XVpwAHlSNs/2000x1322?a=.png
image3: /images/pexels-photo-331990.jpeg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image3 %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="pink editable">You've Scored</h1>
			<p class="subtext editable">Football @ Speedball</p>
			<!--<div class="cta button alt"><a href="#">Join Now</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Awesome Prices</h2>
				<p class="editable">
				    Booking is simple, just call us on 01274 578948 to check availability and book one off or as weekly blocks.</br>
				    Mon - Fri | 09:00 - 18:00 | Any Court | £30</br>
Mon - Fri | 18:00 - 23:00 | Courts 1 & 2 | £45</br>
Mon - Fri | 23:00 - 00:00 | Any Court | £30</br>
Mon - Fri | 18:00 - 23:00 | Courts 3 | £40</br>
Saturday | Any Time | Any Court | £30</br>
Sunday | Any Time | Any Court | £40
</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.image2 %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<!--<h2 class="editable"></h2>-->
				<!--<p class="subtext editable"></p>-->
				<!--<div class="cta button alt"><a href="#"></a></div>-->
			</div>
		</div>
	</section>
</div>
