.tg  {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#ccc;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#fff;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#f0f0f0;
}
.tg .tg-fjd9{
    background-color:#000000;
    color:#ff0f94;
    vertical-align:top
}
.tg .tg-b7b8{
    background-color:#f9f9f9;
    vertical-align:top
}
.tg .tg-yw4l{
    vertical-align:top
}
@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;-webkit-overflow-scrolling: touch;
        
    }
    
}